<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mye.mine.mapper.HistoryMapper">

    <select id="findTidByParams" parameterType="java.util.Map" resultType="java.util.Map" >
        select distinct tid from mye_algorithm.`alg_history_${day}` where voltage = 0;
    </select>

    <select id="findHistoryByTid" parameterType="java.util.Map" resultType="com.mye.mine.entity.History" >
        select tid, collectTime,deviceid from mye_algorithm.`alg_history_${day}` where tid = #{t_id} order by collectTime desc;
    </select>

    <!--根据指定的酒店名字和房间名字查询出所有的设备的登录时间-->
    <select id="findLastReportTime" parameterType="java.util.Map" resultType="java.util.Map">
      select nwa.t_id, mtt.update_time, nwa.ac_name, nwr.name, nwh.hotel_name
      from nx_web.ac_device nwa, nx_web.ent_room nwr, nx_web.ent_hotel nwh, mye_tss.terminal mtt
      where nwa.hotel_gid = nwh.gid and nwa.room_id = nwr.id and nwa.t_id = mtt.t_id and nwa.t_id in (
            SELECT nwd.t_id
            FROM nx_web.ac_device nwd
            WHERE room_id IN (SELECT id
            FROM nx_web.ent_room
            WHERE name in (${room_names}) and hotel_gid IN (SELECT gid
                FROM nx_web.ent_hotel
                WHERE hotel_name = #{hotel_name}))
      )
    </select>

    <!--查询离线设备-->
    <select id="findOfflineTerminal" parameterType="int" resultType="java.util.Map">
    <![CDATA[
        select nwa.t_id, mtt.update_time, nwa.ac_name, nwr.name, nwh.hotel_name
        from nx_web.ac_device nwa, nx_web.ent_room nwr, nx_web.ent_hotel nwh, mye_tss.terminal mtt
        where nwa.hotel_gid = nwh.gid and nwa.room_id = nwr.id and nwa.t_id = mtt.t_id
        and timestampdiff(MINUTE,mtt.update_time, now()) > #{offline}
        order by nwh.hotel_name, nwa.ac_name
        ]]>
    </select>

    <!--查询关机空调-->
    <select id="findShutdownAir" parameterType="int" resultType="java.util.Map">
        <![CDATA[
            select nwa.t_id, mtt.update_time, nwa.ac_name, nwr.name, nwh.hotel_name
            from nx_web.ac_device nwa, nx_web.ent_room nwr, nx_web.ent_hotel nwh, mye_tss.terminal mtt
            where nwa.hotel_gid = nwh.gid and nwa.room_id = nwr.id and nwa.t_id = mtt.t_id
            and switch = 0
            and timestampdiff(MINUTE,mtt.update_time, now()) < #{offline}
            order by nwh.hotel_name, nwa.ac_name
        ]]>
    </select>

    <!--查询开机空调-->
    <select id="findOpenAir" parameterType="int" resultType="java.util.Map">
        <![CDATA[
            select nwa.t_id, mtt.update_time, nwa.ac_name, nwr.name, nwh.hotel_name
            from nx_web.ac_device nwa, nx_web.ent_room nwr, nx_web.ent_hotel nwh, mye_tss.terminal mtt
            where nwa.hotel_gid = nwh.gid and nwa.room_id = nwr.id and nwa.t_id = mtt.t_id
            and switch = 1
            and timestampdiff(MINUTE,mtt.update_time, now()) < #{offline}
            order by nwh.hotel_name, nwa.ac_name
        ]]>
    </select>

    <!---->
    <select id="findAlgAcHourPower" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
       SELECT
	  `hour`,
	   SUM(hour_electric) sum_hour_electric,
	   SUM(saving_electric) sum_save_electric
       FROM
	   `alg_ac_hour_power_${day}`
	    WHERE
	    t_id IN (
		SELECT
			t_id
		FROM
			`nx_web`.`ac_device`
		WHERE
			hotel_gid IN 	]]>
        <foreach  	item="item" collection="hotels" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        )
        GROUP BY
        `hour`
    </select>

    <!--查出指定日期和设备-->
    <select id="findPowerByDay" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
           SELECT
          `hour`,
           SUM(hour_electric) sum_hour_electric,
           SUM(saving_electric) sum_save_electric
           FROM
           `alg_ac_hour_power_${day}` and t_id = #{tid}
        ]]>
    </select>

    <select id="findMaxTempByTemper" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
            select * from (
            SELECT tid, deviceId, MAX(hist.temperatureReal) max_temp_real,
            AVG(hist.temperatureReal) avg_temp_real, MAX(hist.currentPower) max_current_power, AVG(hist.currentPower) avg_current_power
            FROM mye_algorithm.`alg_history_${day}` AS hist where currentPower > 500 and temperatureReal < 100 group by deviceId) as t_real
            where max_temp_real > #{temperature};
        ]]>
    </select>

    <select id="findRuntimeByDay" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
          select dpower.device_id, dpower.t_id, sum(runtime_12), room.name, hotel.hotel_name
          from mye_algorithm.alg_12_14_day_power_2019 dpower, nx_web.ac_device ad, nx_web.ent_room room, nx_web.ent_hotel hotel
          where dpower.device_id = ad.id and ad.room_id = room.id and room.hotel_gid = hotel.gid and
            record_date between #{begin} and #{end} and ad.t_id in (${tids}) group by device_id
        ]]>
    </select>

    <!--根据设备和日期查出故障数据-->
    <select id="findOneDayDiagnoseByTid" parameterType="java.util.Map" resultType="java.util.Map">
      <![CDATA[
          select
             freq_conversion, cooling_input_power,  heading_input_power,  ehtrp,  0,  0,  max_input_power, 0,
            tid,currentPower,collectTime,switch_,runModel,tempratureSet,temperature_wireless,humidityReal,temperatureOut, 0,
            fan_power
             from mye_algorithm.`alg_history_${day}` a left join nx_web.ac_device b on a.TId=b.t_id
             left join nx_web.ac_parameter_template c on b.ac_parameter_template_id=c.id
             where tid=#{tid}

        ]]>
    </select>

</mapper>